.header {
  display: flex;
  height: 50px;
  color: white;
  background: rgb(214, 211, 211);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pageName {
  font-size: 20px;
  margin-left: 5px;
  font-family: "Permanent Marker", cursive;
  color: rgb(238, 107, 238);
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
}
@-webkit-keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}

@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}

.navBar .mobileNav {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navBar .normalNav {
    display: none;
  }

  .navBar .mobileNav {
    display: flex;
    align-items: center;
  }

  .navBar .mobileNav .hamburgerMenu {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
}
