.ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.li,
.liProd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.a,
.prod {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  height: 50px;
  color: purple;
  transition: 0.6s all ease;
  font-weight: 700;
  cursor: pointer;
}

.prod {
  position: relative;
  transition: display 1s ease-in;
}

.a:hover,
.prod:hover {
  border-bottom: 5px solid purple;
  transition: 0.6s all ease-out;
  background: rgb(183, 183, 184);
}

.a:active,
.prod:active {
  color: darkcyan;
}

.li1 {
  display: block;
  height: 30px;
  background: rgb(214, 211, 211);
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid purple;
}

.a1,
.a2,
.a3 {
  text-decoration: none;
  color: purple;
}

.ul1 {
  position: absolute;
  top: 50px;
  display: none;
}

.liProd:hover > .ul1 {
  display: block;
}

@media only screen and (max-width: 768px) {
  .ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 35px;
    background: rgb(30, 30, 31);
    width: 100%;
    z-index: 1000;
  }

  .a,
  .prod {
    width: 100%;
    text-align: start;
  }

  .ul1 {
    top: 100px;
    right: 0px;
    width: 75%;
  }

  .li1 {
    border-radius: 5px;
  }
}
