@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

body {
  font-family: "Merriweather Sans", sans-serif;
  max-width: 100%;
}

.error-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 30px;
}
