.card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cardWrapper {
  width: 33%;
  display: flex;
  justify-content: center;
}

.cardPlace {
  width: 200px;
  height: 380px;
  background: black;
  border-radius: 15px;
  border: 3px solid purple;
  position: relative;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
}

.bottomCard {
  color: white;
  font-weight: 700;
}

.topCard {
  width: 100%;
  height: 65%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.iconsGames {
  position: absolute;
}

.iconsGamesFlex {
  display: flex;
  flex-direction: row;
  background-color: rgb(252, 247, 252);
  border-radius: 5px;
}

.frontCard,
.backCard {
  position: absolute;
  width: 100%;
  height: 100%;
}

.frontCard {
  z-index: 2;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.backCard {
  transform: rotateY(-180deg);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: white;
}

.card:hover .cardPlace {
  transform: rotateY(-180deg);
}

.rating {
  display: inline-block;
  font-size: 0;
  margin-top: 30px;
}

.rating span {
  padding: 0;
  font-size: 20px;
  line-height: 1;
  color: lightgrey;
}

.rating > span:before {
  content: "★";
}

.rating > span.active {
  color: gold;
}

.priceAndName {
  margin-top: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.backCardText {
  font-size: 14px;
  text-align: center;
}

.backCardButton {
  background: purple;
  color: white;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.buttonsBack {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .cardPlace {
    width: 180px;
    height: 380px;
  }

  .backCardText {
    font-size: 13px;
  }
}

@media only screen and (max-width: 992px) {
  .cardWrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .cardWrapper {
    width: 100%;
  }
}
