.tableTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  padding-top: 5px;
  border-bottom: 2px solid black;
  margin-left: 10px;
  margin-right: 10px;
}

.tableTitleItem {
  width: 16.7%;
}

.selectCP {
  width: 150px;
  height: 20px;
  background-color: rgb(58, 56, 56);
  color: white;
}

.inputCP {
  width: 150px;
  height: 20px;
  background-color: rgb(58, 56, 56);
  color: white;
}

.checkboxCP {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 1200px) {
  .inputCP {
    width: 100px;
  }

  .selectCP {
    width: 100px;
  }
}

@media only screen and (max-width: 992px) {
  .inputCP {
    width: 80px;
  }

  .selectCP {
    width: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .tableTitleItem {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    display: flex;
    align-items: start;
  }

  .selectCP {
    transform: rotate(90deg);
  }

  .inputCP {
    transform: rotate(90deg);
  }
}
