.signInWrapper {
  height: 250px;
  width: 350px;
  background-color: rgb(58, 56, 56);
  border-radius: 15px;
}

.signInWrapperReg {
  height: 300px;
  width: 350px;
  background-color: rgb(58, 56, 56);
  border-radius: 15px;
}

.authAndBut {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
  .signInWrapper {
    height: 300px;
  }

  .authAndBut {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .signInWrapper {
    width: 300px;
  }
}
