.submitBlock {
  display: flex;
  justify-content: center;
}

.submit {
  width: 200px;
  height: 30px;
  font-size: 18px;
  background: rgb(167, 4, 167);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
