.ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.liProd {
  display: flex;
  flex-direction: column;
}

.a,
.prod {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: white;
  height: 50px;
  transition: 0.6s all ease;
}

.a:hover,
.prod:hover {
  border-bottom: 5px solid purple;
  transition: 0.6s all ease-out;
  background: rgb(183, 183, 184);
}
