.footer {
  height: 150px;
  color: white;
  background: black;
}

.convenient {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.iconFirst,
.iconSecond,
.iconThird {
  width: 50px;
  height: 50px;
  transition: all 0.7s ease-in-out;
  border: 1px solid gray;
}

.iconFirst:hover,
.iconSecond:hover,
.iconThird:hover {
  width: 55px;
  height: 55px;
  transition: all 0.7s ease-in-out;
  border: 1px solid rgb(195, 228, 206);
}

.block {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}
